.btn.aqua-gradient {
    -webkit-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
    color: #fff;
}
.aqua-gradient {
    /*background: -webkit-linear-gradient(50deg,#2096ff,#05ffa3)!important;*/
    /*background: -o-linear-gradient(50deg,#2096ff,#05ffa3)!important;*/
    background: linear-gradient(40deg,#2096ff,#05ffa3)!important;
}
.btn-rounded {
    /*-webkit-border-radius: 10em;*/
    border-radius: 50%;
}